apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
volumeMounts:
  - name: kafka-storage
    mountPath: /var/lib/kafka/data

volumes:
  - name: kafka-storage
    persistentVolumeClaim:
      claimName: kafka-pvc
