name: AI-MLOps CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - log-ingestor
          - anomaly-detector
          - alert-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/ai-mlops-${{ matrix.service }}:latest \
            ./services/${{ matrix.service }}

          docker push \
            ${{ secrets.DOCKERHUB_USERNAME }}/ai-mlops-${{ matrix.service }}:latest

